
@media screen and (max-width:800px){
	.main {
		box-sizing: border-box;
		background-image: url("../imgs/fondo5.png");
		background-size: 100%;
		background-attachment: fixed;
		background-position: center;
		padding-top: 10vh;
		position: center;
		
	}
	.main h2 {
		display: inline-block;
		background-color: white;
		padding: 2vh 4vh 4vh;
		position: center;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 20px;
		font-family: "Lobster", georgia;
		border-radius: 15px 15px 0px 0px;
	
	}
	.summary {
		margin: 10px 5vh 10px;
        padding: 0 5vh;
	}
	
	
	.summary p{
		font-family: "Ojuju", georgia;
		font-size: 2vh;
		margin-top: 30px;
		
	}
	.summaryFuture {
		position: relative;
		background-color: ghostwhite;
		margin: 20vh auto;
		padding: 10vh 0;
		position: static;
		
	}
	.summaryFuture h2 {
		font-size: 4vh;
		font-family: "Lobsterr", georgia;
	}
	.summaryFutureLeft {
		position: relative;
		height: 50vh;
		width: 50vh;
		top: -5vh;
		left: auto;
	}
	.summaryFutureLeft h3 {
		margin-top: 6vh;
		font-size: 3vh;
		padding: 1vh;
		font-family: "Lobsterr", georgia;
	}
	.summaryFutureLeft p {
		margin-top: 4vh;
		font-size: 3.5vh;
		padding: 0vh;
		font-family: "Ojuju", georgia;
	}
	.summaryFutureRight {
		
		position: relative;
		height: 50vh;
		width: 50vh;
		top: 0;
		left: auto;
		cursor: pointer;
	}
	.summaryFutureRight:hover > #bueyes {
		height: 30vh;
		position: absolute;
		margin-top: 28vh;
		margin-left: 10vh;
	}
	.summaryFutureRight:hover > #finca{
		height: 35vh;
		position: absolute;
		margin-top: 0;
		margin-left: 5vh;
	}
	#finca {
		height: 30vh;
		position: absolute;
		margin-top: 0vh;
		margin-left: 1vh;
		transition: all 1.2s;
	}
	#bueyes {
		height: 25vh;
		position: absolute;
		margin-top: 25vh;
		margin-left: 15vh;
		transition: all 1.2s;
	}
	#whatsapp{
		position: fixed;
		border: none;
		background: none;
		cursor: pointer;
		bottom: 4vh;
		right: 4vh;
	}
	#whatsapp img{
		height: 40px;
		transition: all 1s;
	}
	#whatsapp img:hover{
		height: 60px;
	}
	/* estilo de indexMenu.html ---------------------------------------------------*/
	.boxMenu {
		height: 400px;
		width: 300px;
		display: inline-table;
		position: relative;
		margin: 2vh 2vh;
		background-image: url("../imgs/CREACIONES.png" );
		background-repeat: no-repeat;
		background-size: 70%;
		text-align: center;
		background-position: center;
		background-color: rgba(255, 255, 255, 0.6);
		border: 1px solid gray;
		transition: all 1s;
		cursor: pointer;
	}
	.boxMenu:hover {
		
		height: 500px;
		width: 400px;
		margin: 0 2vh;
	}
	.boxMenu:hover > h2 {
		margin: 40px;
		font-size: 40px;
	}
	.boxMenu:hover > li {
		margin: 40px;
		font-size: 40px;
	}
	
	.boxMenu h2 {
		margin: 30px;
		font-size: 30px;
		transition: all 1s;
	}
	.boxMenu li{
		margin: 20px;
		font-size: 20px;
		font-family: "Lobster", georgia;
		transition: all 1s;
	}
	#titleMenu {
		font-size: 50px;
		margin-top: 10vh;
		margin-bottom: 5vh;
		font-family: "Lobsterr", georgia;
	}
	
	.mainMenu{
		background-color: ghostwhite;
		padding: 40px;
		box-sizing: border-box;
		position: static;
		height: auto;
		width: auto;
	}
	/* estilo de indexSugerencias.html --------------------------------------------*/
	.form h2{
		margin: 70px;
		font-size: 50px;
		font-family: "Lobster", georgia;
	}
	.form p{
		margin: 50px;
		font-size: 30px;
	}
	.form input{
		margin: 10px;
		width: 200px;
		height: 40px;
		font-size: 20px;
		border-radius: 17px;
		background-color: ghostwhite;
		transition: all 1s;
	}
	.form button{
		border-radius: 10px;
		background-color: ghostwhite;
		font-size: 20px;
		padding: 5px 20px;
	}
	.form button:hover{
		background-color: darkslategray;
	}
	#inputemail:focus {
		width: 400px;
	}
	#inputtexto:focus {
		width: 500px;
	}
	
	/* Estilo de encabezado y pie de pagina ---------------------------------------*/
	
	.navbar {
		background-color: ghostwhite;
		padding: 10px 30px; 
		display: flex;
		position: sticky;
		top: 0;
		z-index: 100;
	}
	/*
		float: right;
	}
	.right #lockup {
		float: left;
		width: 20%;
	}*/
	.navbar ul {
		position: fixed;
		list-style-type: none;
		padding: 10px;
		display: flex; 
		right: 5vh;
	}

    #lockup {
        height : 4vh;
    }

	li {
		margin-left: 20px;
		font-size: 12px;
		font-family: georgia;
	}
	li a{
		text-decoration: none;
	}
	.left, .right {
		display: inline-block;
	}
	.left button {
		border: none;
		background: none;
		cursor: pointer;
		
	}
	.navbar a {
		color: black;
	}
	.navbar a:hover {
		color: lightseagreen;
	}
	
	footer {
		background-color: darkslategray;
		text-align: center;
		padding-top: 10px; 
		padding-bottom: 20px;
		margin-top: 100px;
	}
	footer a{
		color: black;
	}
	#instagram {
		margin: 2vh;
		border: none;
		background: none;
		cursor: pointer;
	}
	#instagram img{
		height: 4vh;
	}
}